.fluid {
  background-image: url('/assets/bg.jpeg');
  background-size: cover;
}



.ok {
  margin-left: 370px;
  margin-top: -65px;
  background: black;
}

.repo {
  opacity: 0.7;
  filter: alpha(opacity=100);
  color: black;
  width: 50%;

}

.srcf {
  width: 50%;
}
